<html >
 <html class="no-js" lang="zxx" dir="rtl" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>kkesh</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- <link rel="manifest" href="site.webmanifest"> -->
   <!--  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"> -->
     <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/css/jqwidgets/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/parsley.css"> 
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/sweetalert2.min.css"> 
        <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 ">
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="short_contact_list">
                                <ul>
                                   <li><a class="font_arabic"  href="/kkesh/secureforward/LOGIN/null/null">تسجيل خروج</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div id="sticky-header" class="main-header-area">
                <div class="container">
               <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="/img/logo.png" alt=""  style="width:200px">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                        </div>
                         <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                            <div class="Appointment"  id="add-appointment" style="display: none;">
                                <div class="book_btn d-none d-lg-block">
                                    <a id="open-appointment-popup" class="popup-with-form font_arabic" href="#appointment-form">تقديم استشارة طبية</a>
                                </div>
                            </div>
                            <div class="Appointment" id="add-doctor" style="display: none;">
                                <div class="book_btn d-none d-lg-block">
                                    <a class="popup-with-form font_arabic" href="#">إضافة طبيب</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    
			<!-- Page Content -->
			<div id="loading"></div>
			<div class="content" id="content" style="display:none;">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-12">
							<div class="chat-window">
							
								<!-- Chat Left -->
								<div class="chat-cont-left" id="chat-left" style="display:none;">
									<div class="chat-header">
										<span class="font_arabic">لائحة الإستشارات</span>
									</div>
									<form class="chat-search">
										<div class="input-group">
											<div class="input-group-prepend">
												<i class="fa fa-search"></i>
											</div>
											<input type="text" class="form-control font_arabic" placeholder="بحث...">
										</div>
									</form>
									<div class="chat-users-list">
													<div class="chat-scroll" id="for-doctor" style="display:none;">
											<a href="javascript:void(0);" class="media">
													<div class="media-body">
													<div>
														<div class="user-name font_arabic">عمار آل_سعود</div>
														<div class="user-last-chat font_arabic">ضغط في الرأس و شعور بي دوران و اغتراب لي فقدان الوعي الانزعاج من الأصوات وقت الشعور بي الام الرأس و كان الصوت في داخل الرأس</div>
													</div>
													<div>
														<div class="last-chat-time block">2 min</div>
														<div class="badge badge-success badge-pill">15</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media read-chat active">
													<div class="media-body" style=" text-align: right;">
													<div>
														<div class="user-name font_arabic">عالية آل الشيخ</div>
														<div class="user-last-chat font_arabic"> اسال عن الصداع حول العين والجزء الخلفي من الرأس بعد عملية الليزك بأسبوع؟ هل هو طبيعي ام يحتاج فحص طبي للعين؟ وايضا عنلي يتطلب الاستخدام الكثير للهاتف والكمبيوتر فهل يؤثر ذلك سلبا ع العلملية واضعاف البصر مع شكري ومودتي</div>
													</div>
													<div>
														<div class="last-chat-time block">8:01 PM</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media">
												<div class="media-body">
													<div>
														<div class="user-name font_arabic">ميسم الفاخري</div>
														<div class="user-last-chat font_arabic">اعاني من الم لا يطاق</div>
													</div>
													<div>
														<div class="last-chat-time block">7:30 PM</div>
														<div class="badge badge-success badge-pill">3</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media read-chat">
												<div class="media-body">
													<div>
														<div class="user-name font_arabic">سيف حجار العمري</div>
														<div class="user-last-chat font_arabic">مشاكل في النوم لا استطيع النوم لا بعد تعب شديد او بعد نشاط مرهق جدا حتى لو أتت ساعات النوم</div>
													</div>
													<div>
														<div class="last-chat-time block">6:59 PM</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media read-chat">
												<div class="media-body">
													<div>
														<div class="user-name font_arabic">ماجد آل الشيخ</div>
														<div class="user-last-chat">السلام عليكم عندي ضعف النظر حيث أنني لا أرى جيدا عن بعد...</div>
													</div>
													<div>
														<div class="last-chat-time block">11:21 AM</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media read-chat">
													<div class="media-body">
													<div>
														<div class="user-name font_arabic">ديمه آل سليم</div>
														<div class="user-last-chat">أنا أعاني أحيانا بالحكة في عيوني وتدمعان قليلا أحيانا</div>
													</div>
													<div>
														<div class="last-chat-time block">10:05 AM</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media read-chat">
												<div class="media-body">
													<div>
														<div class="user-name font_arabic">أحلام السديري</div>
														<div class="user-last-chat">يوجد دموع بالعين مع عماص أبيض اللون وأحمرار فى العينين والأحساس بجسم غريب فى العنين </div>
													</div>
													<div>
														<div class="last-chat-time block">Yesterday</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media read-chat">
												<div class="media-body">
													<div>
														<div class="user-name font_arabic">خلود آل حميد</div>
														<div class="user-last-chat">انا عندي عمي الالوان مش بقدر اشوف اي ارقام فاختبار عمي الالوان محتاج حل</div>
													</div>
													<div>
														<div class="last-chat-time block">Sunday</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media read-chat">
												<div class="media-body">
													<div>
														<div class="user-name font_arabic">عساف آل الدويش</div>
														<div class="user-last-chat">سلام عليكم دكتور عيون ممكن عندي بنت عنده حول ف عينه اليسار كتب لدكتور نظاره رافضه تلبس النظاره عمره سنه وشهرين كيف اسوي هل اروح خاص اسوي له عمليه او اتركه لين تكبر بس هذا شي ليؤثر ع نظره ؟سويت له عدسه صينه هل هي زينه او لا ؟</div>
													</div>
													<div>
														<div class="last-chat-time block">Saturday</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media read-chat">
												<div class="media-body">
													<div>
														<div class="user-name font_arabic">أمينة آل حثلين</div>
														<div class="user-last-chat">السلام عليكم ورحمة الله منذ أسبوعين حدث جحوظ فى العين اليسرى وطلب الطبيب تحليل الغدة الدرقية والكلسترول واشعة على العين والمخ ووجد أنها طبيعية ثم قاس ضغط العين</div>
													</div>
													<div>
														<div class="last-chat-time block">Friday</div>
													</div>
												</div>
											</a>
										</div>
										<div class="chat-scroll" id="for-patient"  style="display:none;">
											<a href="javascript:void(0);" class="media">
													<div class="media-body">
													<div>
														<div class="user-name font_arabic">د. رودينا</div>
														<div class="user-last-chat font_arabic">ضغط في الرأس و شعور بي دوران و اغتراب لي فقدان الوعي الانزعاج من الأصوات وقت الشعور بي الام الرأس و كان الصوت في داخل الرأس</div>
													</div>
													<div>
														<div class="last-chat-time block">2 min</div>
														<div class="badge badge-success badge-pill">15</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media read-chat active">
													<div class="media-body" style=" text-align: right;">
													<div>
														<div class="user-name font_arabic">د. إيمان</div>
														<div class="user-last-chat font_arabic"> اسال عن الصداع حول العين والجزء الخلفي من الرأس بعد عملية الليزك بأسبوع؟ هل هو طبيعي ام يحتاج فحص طبي للعين؟ وايضا عنلي يتطلب الاستخدام الكثير للهاتف والكمبيوتر فهل يؤثر ذلك سلبا ع العلملية واضعاف البصر مع شكري ومودتي</div>
													</div>
													<div>
														<div class="last-chat-time block">8:01 PM</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media">
												<div class="media-body">
													<div>
														<div class="user-name font_arabic">د. منصور</div>
														<div class="user-last-chat font_arabic">اعاني من الم لا يطاق</div>
													</div>
													<div>
														<div class="last-chat-time block">7:30 PM</div>
														<div class="badge badge-success badge-pill">3</div>
													</div>
												</div>
											</a>
											<a href="javascript:void(0);" class="media read-chat">
												<div class="media-body">
													<div>
														<div class="user-name font_arabic">د. عمار</div>
														<div class="user-last-chat font_arabic">مشاكل في النوم لا استطيع النوم لا بعد تعب شديد او بعد نشاط مرهق جدا حتى لو أتت ساعات النوم</div>
													</div>
													<div>
														<div class="last-chat-time block">6:59 PM</div>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!-- /Chat Left -->
								<!-- Chat Right -->
								<div class="chat-cont-right">
									<div id='jqxtabs'>
							        <ul style='margin-left: 20px;' class="font_arabic">
							            <li>تفاصيل الإستشارة</li>
							            <li id="chating" style="display:none;">دردشة</li>
							        </ul>
							        <div style="direction:rtl;">
							          <div class="profile-container font_arabic">
							            <div class="profile-name-title">
							            بسام عبدالله
							            </div>
							               <div class="consultaion-meta"> 
												<span class="consultaion-meta-date"> 29 سنة </span> | 
												<span class="consultaion-meta-id"> +966 54 xxxxxxx </span>
											 </div>
											 <div class="consultaion-meta-date">رقم الملف الطبي : 12345</div>
							                 <div class="dmi-separator"></div>
										 <div class="col-xl-12" style="padding: 0;     display: inline-table;">
											
											 
											  <a id="returnAppointmentToAdmin" style="display:none;" class="btn btn-sm bg-danger-light">
													<i class="fa fa-undo"></i> إعادة الإستشارة إلى مسؤل النظام
											 </a>
											 <a id="assignDoctor" style="display:none;" class="btn btn-sm bg-primary-light">
												<i class="fa fa-user"></i> تحويل الإستشارة
									      	</a>
											  <a id="closeAppointment" style="display:none;" class="btn btn-sm bg-default-light">
													<i class="fa fa-close"></i> إغلاق الإستشارة
											 </a>
											  	 <a id="acceptAppointment" style="display:none;" class="btn btn-sm bg-success-light">
													<i class="fa fa-check"></i> إستلام الإستشارة
											 </a> 
										 </div>
										   <div id="popupWindow">
								   		       <div id="window">
								                    <span id="captureContainer" >قائمة الأطباء</span>
								                </div>
								   		       	<div class="doctor-grid-container">
								   		       		<div id="doctor-grid"></div>
								   		       	</div>
								   		      </div>
										 	<div class="col-xl-12" style="padding-right: 0;">
												<div class="entry-meta dmi-mb-1x">
													<div class="consultaion-meta"> 
														<span class="consultaion-meta-date" id="appointment_creationDate"></span> | 
														<span class="consultaion-meta-id">  استشارة رقم: </span><span class="consultaion-meta-id" id="appointment_id"></span>
													 </div>
												 </div>
												 
											 </div>
										
										 <div class="dmi-entry-content"><h3 id="apointment-description" class="dmi-title font_arabic" itemprop="name"></h3>
										</div>
							            </div>
							        </div>
							        <div style="direction:rtl;display:none;" id="chating-body" >
									<div class="chat-header">
										<a id="back_user_list" href="javascript:void(0)" class="back-user-list">
											<i class="material-icons">chevron_left</i>
										</a>
										<div class="media">
											<div class="media-img-wrap">
												<div class="avatar avatar-online">
														<div class="chat-circle blue-color font_arabic">إ</div>
												<!-- 	<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image" class="avatar-img rounded-circle"> -->
												</div>
											</div>
											<div class="media-body" style=" text-align: right;">
												<div class="user-name font_arabic">د. إيمان</div>
												<div class="user-status">online</div>
											</div>
										</div>
										<!-- <div class="chat-options">
											<a href="javascript:void(0)" data-toggle="modal" data-target="#voice_call">
												<i class="material-icons">local_phone</i>
											</a>
											<a href="javascript:void(0)" data-toggle="modal" data-target="#video_call">
												<i class="material-icons">videocam</i>
											</a>
											<a href="javascript:void(0)">
												<i class="material-icons">more_vert</i>
											</a>
										</div> -->
									</div>
									<div class="chat-body">
										<div class="chat-scroll">
											<ul class="list-unstyled">
												<li class="media received">
													<div class="media-body">
														<div class="msg-box">
															<div>
																<p>صباح الخير. كيف حالك اليوم؟</p>
																<ul class="chat-msg-info">
																	<li>
																		<div class="chat-time">
																			<span>8:35 AM</span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</li>
												<li class="media sent">
													<div class="media-body">
														<div class="msg-box">
															<div>
																<p>أنا بخير. شكرا لك. ماذا عنك؟</p>
																<ul class="chat-msg-info">
																	<li>
																		<div class="chat-time">
																			<span>8:42 AM</span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</li>
												<li class="media received">
													<div class="media-body">
														<div class="msg-box">
															<div>
																<p>أنا بخير. إذن ما الذي تشعر به الآن</p>
																<ul class="chat-msg-info">
																	<li>
																		<div class="chat-time">
																			<span>8:55 PM</span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
															<div class="msg-box">
															<div>
																<p>هل لا تزال لديك نفس الأعراض؟</p>
																<ul class="chat-msg-info">
																	<li>
																		<div class="chat-time">
																			<span>8:55 PM</span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</li>
												<li class="chat-date">Today</li>
												<li class="media sent">
													<div class="media-body">
														<div class="msg-box">
															<div>
																<p>لا ولكن ما زلت أعاني من مشكلة في الرؤية</p>
																<div class="chat-msg-actions dropdown">
																	<a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="fe fe-elipsis-v"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right">
																		<a class="dropdown-item" href="#">Delete</a>
																	</div>
																</div>
																<ul class="chat-msg-info">
																	<li>
																		<div class="chat-time">
																			<span>10:19 AM</span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</li>
												<li class="media received">
													<div class="media-body">
														<div class="msg-box">
															<div>
																<p>يجب أن تمر من مكتبي من أجل فحصك</p>
																<ul class="chat-msg-info">
																	<li>
																		<div class="chat-time">
																			<span>10:17 AM</span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</li>
												<li class="media received">
														<div class="media-body">
														<div class="msg-box">
															<div>
																<div class="msg-typing">
																	<span></span>
																	<span></span>
																	<span></span>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="chat-footer">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="btn-file btn">
													<i class="fa fa-paperclip"></i>
													<input type="file">
												</div>
											</div>
											<input type="text" class="input-msg-send form-control font_arabic" placeholder="اطبع شيئا">
											<div class="input-group-append">
												<button type="button" class="btn msg-send-btn">
												<img src="/img/send.png" alt="" style="width:20;height: 20;margin-right: 0.1rem;">
												</button>
											</div>
										</div>
									</div>
								</div>
								<!-- /Chat Right -->
								</div>
  							  </div>
							</div>
						</div>
					</div>
					<!-- /Row -->

				</div>

			</div>		
			<!-- /Page Content -->

   
    <!-- form itself end-->
    <form id="appointment-form" class="white-popup-block mfp-hide popup-windows">
        <div class="popup_box ">
            <div class="popup_inner font_arabic">
                <h3 class="font_arabic">تقديم استشارة طبية</h3>
                <form >
                    <div class="row">
						<div class="col-xl-12">
                           <textarea  rows="15" cols="50" name="comment" form="usrform" placeholder="اشرح الأعراض التي تعاني منها..."></textarea>
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed-btn3">إرسال</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
    <!-- form itself end -->
    <!-- JS here -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/ajax-form.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/scrollIt.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/nice-select.min.js"></script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/gijgo.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/scriptchat.js"></script>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script  src="/js/jqwidgets/jqxcore.js"></script>
    <script  src="/js/jqwidgets/jqxtabs.js"></script>
    <script  src="/js/jqwidgets/jqxcore.js"></script>
    <script  src="/js/jqwidgets/jqxdata.js"></script> 
    <script  src="/js/jqwidgets/jqxbuttons.js"></script>
    <script  src="/js/jqwidgets/jqxscrollbar.js"></script>
    <script  src="/js/jqwidgets/jqxmenu.js"></script>
    <script  src="/js/jqwidgets/jqxgrid.js"></script>
    <script  src="/js/jqwidgets/jqxgrid.pager.js"></script>
    <script  src="/js/jqwidgets/jqxgrid.selection.js"></script> 
    <script  src="/js/jqwidgets/jqxnumberinput.js"></script>
    <script  src="/js/jqwidgets/generatedata.js"></script>
    <script  src="/js/jqwidgets/jqxdropdownlist.js"></script>
    <script  src="/js/jqwidgets/jqxlistbox.js"></script>
    <script  src="/js/jqwidgets/jqxwindow.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
     
    <script>
    var signInResponseDTO2 ='';
    var appointmentDetailsId ='';
    debugger;
    $(document).ready(function () {
    	signInResponseDTO2 = JSON.parse("[[${signInResponseDTO}]]".replace(/&quot;/g,'"'));
    	appointmentDetailsId = JSON.parse("[[${appointmentDetailsId}]]".replace(/&quot;/g,'"'));
	     if (signInResponseDTO2.isPatient)
	     { $('#add-appointment').show();
	       $('#for-patient').show(); 
	       $('#chat-left').show();
	       $('#chating').show();
	       $('#chating-body').show();
	     }
	      else if(signInResponseDTO2.isAdmin)
	        {   $('#add-doctor').show(); 
		        $('#closeAppointment').show(); 
		        $('#acceptAppointment').show(); 
		        $('#assignDoctor').show(); 
		        $('.chat-cont-right').css('width','100%');
		        $('.chat-cont-right').css('max-width','100%');
		        $('.chat-cont-right').css('flex','0 0 100%');
	        }
	      else if(signInResponseDTO2.isDoctor)
	        {   $('#closeAppointment').show(); 
		        $('#acceptAppointment').show(); 
		        $('#assignDoctor').show(); 
		        $('#returnAppointmentToAdmin').show(); 
		        $('#for-doctor').show(); 
		        $('#chat-left').show(); 
		        $('#chating').show();
		        $('#chating-body').show();
	        }
	
	     var settings = {
	   			  "url": "/kkesh/getAppointmentbyid/"+appointmentDetailsId,
	   			  "method": "GET",
	   			  "timeout": 0,
	   			};

	   			$.ajax(settings).done(function (response) {
	   				debugger;
	   				console.log(response);
	   			   $("#apointment-description").html(response.description);
	   			   $("#appointment_id").html(response.id);
	   			   $("#appointment_creationDate").html(response.creationDate);
	   		   	   $('#content').show();
 				   $('#loading').hide();
     			
	   			});
	     
        $('#jqxtabs').jqxTabs({ width: '100%', height: '500',rtl:true,
            initTabContent: function (tab) {
                
            }
        });
    });
    
    $('#assignDoctor').click(function(){
    	  $("#popupWindow").jqxWindow({ position: { x:  200, y: 150 } });
    	  $("#popupWindow").jqxWindow('open');
    	});
    // initialize the popup window and buttons.
    $("#popupWindow").jqxWindow({
        width: 450, height:'70%', rtl: true,resizable: false,  isModal: true, autoOpen: false, cancelButton: $("#Cancel"), modalOpacity: 0.01           
    });
    $("#popupWindow").on('open', function () {
    	var settings = {
     			  "url": "/kkesh/getdoctors?name=",
     			  "method": "GET",
     			  "timeout": 0,
     			};

     			$.ajax(settings).done(function (response) {
     				
     				  doctordata = response;
     				  var doctorSource =
     		   		    {
     		   		        localdata: doctordata,
     		   		        datatype: "array",
     		   		        datafields:
     		   		        [
     		   		            { name: 'fname', type: 'string' },
     		   		            { name: 'emailAddress', type: 'string' },
     		   		            { name: 'lname', type: 'string' },
     		   		            { name: 'creationDate', type: 'string' },
     		   		            { name: 'status', type: 'string' },
     		   		            { name: 'id', type: 'string' },
     		   		            { name: 'patientId', type: 'string' },
     		   		        ],
     		   		        updaterow: function (rowid, rowdata, commit) {
     		   		            // synchronize with the server - send update command
     		   		            // call commit with parameter true if the synchronization with the server is successful 
     		   		            // and with parameter false if the synchronization failder.
     		   		            commit(true);
     		   		        }
     		   		    };
     		   		    var doctorDataAdapter = new $.jqx.dataAdapter(doctorSource);
     		   		    
				        $("#doctor-grid").jqxGrid(
			           		    {
			           		        width: '100%',
			           		        height:'100%',
			           		        source: doctorDataAdapter,
			           		        pageable: true,
			           		        rtl:true,
			           		        columns: [
			           		          { text: 'اسم الطبيب', datafield: 'id', displayfield: 'fname', width: 200 },
			           				  { text: 'عناوين البريد الإلكتروني', datafield: 'emailAddress' }
			           		        ]
			           		    });
				      $("#doctor-grid").jqxGrid('clearselection');
			        });
    });
    
	   $("#doctor-grid").bind('rowselect', function (event) {
		    var id = event.args.row.id;
		    
        $('#popupWindow').jqxWindow('close');
        
        debugger;
	 	 var appointmentTrackReqDTO = {}
	 	 appointmentTrackReqDTO["assignedBy"] = signInResponseDTO2.id;
	 	 appointmentTrackReqDTO["doctorId"]   = id;
	     appointmentTrackReqDTO["appointmentId"] = appointmentDetailsId;
	 	 appointmentTrackReqDTO["isCurrent"]   = 'true';
	 	 appointmentTrackReqDTO["memo"] = '';
	 	 
	     $.ajax({
	        type: "POST",
	        contentType: "application/json",
	        url: "/kkesh/assignappointment",
	        data: JSON.stringify(appointmentTrackReqDTO),
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success: function (data,response) {
	        	Swal.fire("لقد تم تحويل الإستشارة بنجاح ");
	        	
			  },
	        error: function (e) {
	        	console.log()
	        }
	    });
	  
	 });
	</script>
</body>

</html>